
{%  extends 'core/base.html' %}
{% load static %}


{% block style %}

<link rel="stylesheet" href="{% static 'reset/css/styledonee.css' %}">

{% endblock style %}
    
{% block msg %} {% endblock msg %}


{% block content %}

<div class="row">
<div class="col-sm-12 div">
    <div class="menu">

        <div class="heading">  
            <h1>Check your inbox.</h1>
        </div>
        
        <div>
        <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
        
        </div>
    </div>
</div>
</div>
{% endblock content %}