

{%  extends 'core/base.html' %}
{% load static %}


{% block style %}

<link rel="stylesheet" href="{% static 'reset/css/stylecomplete.css' %}">

{% endblock style %}
    
{% block msg %} {% endblock msg %}


{% block content %}


<div class="row">
    <div class="col-sm-12  div">
<h1>Password reset complete</h1>
<p>Your new password has been set. You can log in now on the</p>
<div class="anc">

    <a href="{% url 'login' %} " class="btn btn-outline-primary log">Go To Login</a>
</div>
    </div>
</div>
{% endblock content %}