

{%  extends 'core/base.html' %}
{% load static %}


{% block style %}

<link rel="stylesheet" href="{% static 'reset/css/styleconfirm.css' %}">

{% endblock style %}
    
{% block msg %} {% endblock msg %}


{% block content %}



<div class="row">
  <div class="col-sm-6 offset-sm-3 div">
    {% if validlink %}
<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" class="form-control btn btn-success" value="Change my password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
  </div>
</div>
{% endblock content %}