{% extends 'core/base.html' %}
{% load static %}


{% block title %}
    <title>Search by Date</title>

    {% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'book/css/stylesearchalll.css' %}">
{% endblock style %}



{% block msg %}
{% if messages %}
{% for message in messages %}
<small {% if messages.tags %} class="{{message.tags}}" {% endif %}>  <span class="{{message.tags}}" >{{ message }} </span> </small>
{% endfor %}
{% endif %}
{% endblock msg %}






{% block content %}
<div class="col-sm-12 menu">
    <div class="main">
        <div class="submain">

            <div class="search">
                <h3>Search Notes</h3>
            </div>

            <div class="anchor">
                <a href="{% url 'searchtitle' %}" class="btn btn-success">Search By Title</a>
                <a href="{% url 'searchdate' %}" class="btn btn-success">Search By Date</a>
            </div>



            <div class="form">
                <form action="{% url 'searchdate' %}" method="POST" >
                    {% csrf_token %}
                    <label for="" class="mb-2">Date</label>
                    <input type="date" placeholder="Enter Notes's Publish Date" required name="date" class="form-control mb-3" >
                    <button type="submit" class="btn btn-info">Search</button>

                </form>
                <a href="{% url 'dashboard' %}" class="btn btn-success mt-1">Back</a>
            </div>



        </div>
    </div>


</div>


{% endblock content %}